<aside class="navbar-aside" id="offcanvas_aside">
    <div class="aside-top py-0">
        <a href="index.html" class="brand-wrap">
            <img src="/public/adminAssets/assets/imgs/theme/sleek-style-logo.png" class="logo" alt="Sleek Style dashboard">
        </a>
        <div>
            <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
        </div>
    </div>
    <nav>
        <ul class="menu-aside">
            <li class="menu-item active">
                <a class="menu-link" href="/admin"> <i class="icon material-icons md-home"></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>
            <li class="menu-item has-submenu">
                <a class="menu-link" > <i class="icon material-icons md-shopping_bag"></i>
                    <span class="text">Products</span>
                </a>
                <div class="submenu">
                    <a href="/admin/addProducts">Add products</a>
                    <a href="/admin/productsList">Product list</a>
                </div>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="/admin/categories"> <i class="icon material-icons md-add_box"></i>
                    <span class="text">Add Category</span>
                </a>
            </li>
            <li class="menu-item has-submenu">
                <a class="menu-link" href="page-orders-1.html"> <i class="icon material-icons md-shopping_cart"></i>
                    <span class="text">Orders</span>
                </a>
                <div class="submenu">
                    <a href="page-orders-1.html">Order list 1</a>
                    <a href="page-orders-2.html">Order list 2</a>
                    <a href="page-orders-detail.html">Order detail</a>
                </div>
            </li>
            <li class="menu-item ">
                <a class="menu-link" href="/admin/users_list"> <i class="icon material-icons md-store"></i>
                    <span class="text">Users</span>
                </a>
                <!-- <div class="submenu">
                    <a href="page-sellers-cards.html">Sellers cards</a>
                    <a href="page-sellers-list.html">Sellers list</a>
                    <a href="page-seller-detail.html">Seller profile</a>
                </div> -->
            </li>
            
        </ul>
    </nav>
</aside>