<%-include('../head')-%>

<!-- header -->
<%-include('../header') %>
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="/" rel="nofollow">Home</a>
                    <span></span> Pages
                    <span></span> Login / Register
                </div>
            </div>
        </div>
        
        <section class="pt-150 pb-150">
            <!-- -----------------Login form------------------ -->
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-12  m-auto">
                        
                                <div class="login_wrap widget-taber-content p-30 background-white border-radius-10 mb-md-5 mb-lg-0 mb-sm-5 w-55" >
                                    <div class="padding_eight_all bg-white">
                                        <div class="heading_s1">
                                            <h3 class="mb-30">Login</h3>
                                            <p><div id="success_msg" style="display: none;" class="alert alert-primary"></div></p>
                                        </div>
                                        <form method="post" id="loginForm">
                                            <div class="form-group">
                                                <input type="text"  name="email" placeholder="Your Email" id="emailId">
                                                <p><div id="emailError" style="display: none;" class="text-danger"></div></p>
                                            </div>
                                            <div class="form-group">
                                                <input type="password" name="password" placeholder="Password" id="passwordId">
                                                <p><div id="passwordError" style="display: none;" class="text-danger"></div></p>
                                            </div>
                                            <div class="login_footer form-group ">
                                                <div>
                                                    <a class="text-muted" href="/forgot_password">Forgot password?</a>
                                                    <span><a class="text-muted d-flex text-end" href="/signup">Create account</a></span>
                                                </div>
                                                
                                                <div class="form-group m-0">
                                                    <button type="submit" class="btn btn-fill-out btn-block hover-up" name="login">Log in</button>
                                                </div>
                                            </div>
                                           
                                        </form>
                                        <div class="divider-text-center mt-15 mb-15">
                                            <span> or</span>
                                        </div>
                                        <ul class="btn-login list_none text-center mb-15">
                                            <!-- <li><a href="#" class="btn btn-facebook hover-up mb-lg-0 mb-sm-4">Login With Facebook</a></li> -->
                                            <li><a href="/login/google" class="btn btn-google hover-up">Login With Google</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
               
    </section>
</main>
        <!-- --------------Login form end--------------- -->


 <!-- User login form validation Script file -->
<script src="/public/userAssets/assets/js/validation/userLogin.js"></script>

<!--User login form submission Fetch script file   -->
<script>

    //    Login Form submission Fetch
    document.getElementById('loginForm').addEventListener('submit',async(e)=>{
            e.preventDefault()
            const email = document.getElementById('emailId').value
            const password = document.getElementById('passwordId').value
            try {
                const response = await fetch('/login',{
                    method:'POST',
                    headers:{
                        'Content-Type':'application/json'
                    },
                    body:JSON.stringify({email,password})
                })
                const data = await response.json()
                if(response.status == 404){
                    const emailError = document.getElementById('emailError')
                    emailError.style.display = 'block'
                    emailError.innerHTML = data.emailError
                    setTimeout(()=>{
                        emailError.style.display = 'none'
                    },3000)
                }else if(data.success){
                    window.location.href = '/'
                }else if(data.block){
                    passwordError.style.display = 'block'
                    passwordError.innerHTML = data.block
                }
                else {
                    const passwordError = document.getElementById('passwordError');
                    passwordError.style.display = 'block'
                    passwordError.innerHTML = data.passwordError
                    setTimeout(()=>{
                        passwordError.style.display = 'none'
                    },3000)
                }
            } catch (error) {
                
            }
           
        })
     
</script>
<script src="https://apis.google.com/js/platform.js" async defer></script>
<%-include('../foot')-%>
