<%- include('../head') %>
    <!-- sweet alert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<!-- header -->
<%- include('../header') %>
    <main class="main">
        <section class="pt-150 pb-150">
            <!-- -----------------Login form------------------ -->
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-12  m-auto">
                        <form id="loginForm">
                            <div
                                class="login_wrap widget-taber-content p-30 background-white border-radius-10 mb-md-5 mb-lg-0 mb-sm-5">
                                <div class="padding_eight_all bg-white">
                                    <div class="heading_s1">
                                        <h3 class="mb-30">Change password</h3>
                                    </div>
                                    <div id="passwordErr" style="display: none;" class="text-danger"></div>
                                    <div class="form-group">
                                        <label for="newPassword">New password</label>
                                        <input required type="password" name="newPassword" placeholder="New password"
                                            id="newPassword" class="form-control" onblur="pwdValidate()">
                                            <div id="newPwdErr" style="display: none;" class="text-danger"></div>
                                    </div>
                                    <div class="form-group">
                                        <label for="confirmPassword">Confirm password</label>
                                        <input required type="password" name="confirmPassword"
                                            placeholder="Confirm password" id="confirmPassword" class="form-control" onblur="cPwdValidate()">
                                            <div id="cPwdErr" style="display: none;" class="text-danger"></div>
                                    </div>
                                    <div class="form-group d-flex justify-content-end">
                                        <button type="button" class="btn btn-block hover-up" id="submit_btn"
                                            onclick="changePassword(event)">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </section>
    </main>

    <script>

        const newPassword = document.getElementById('newPassword').value
        const newPasswordErr = document.getElementById('newPwdErr')
        const confirmPassword = document.getElementById('confirmPassword').value
        const cPasswordErr = document.getElementById('cPwdErr')
            


        async function changePassword(e) {
            e.preventDefault()
            pwdValidate()
            cPwdValidate()
            if(newPasswordErr.style.display == 'block'|| cPasswordErr.style.display == 'block'){
                return
            }
            const newPassword = document.getElementById('newPassword').value
            const confirmPassword = document.getElementById('confirmPassword').value
            if (newPassword == confirmPassword) {
                passwordErr.style.display = 'none'
                fetch('/forgot_password/passwordChange', {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ newPassword })
                })
                    .then(res => res.json())
                    .then((res) => {
                        if (res.success) {
                            Swal.fire({
                                position: "centre",
                                icon: "success",
                                title: "Password updated successfully!",
                                showConfirmButton: false,
                                timer: 1500
                            })
                            .then((res)=>{
                                window.location.href = '/login'
                            })
                        }
                    })
            } else {
                console.log('entry2');
                const passwordErr = document.getElementById('passwordErr')
                passwordErr.innerText = '*Password not matched!'
                passwordErr.style.display = 'block'
                passwordErr.style.color = 'red'
            }
        }

        function pwdValidate(){
            
            if(newPassword.trim() == ''){
                newPasswordErr.style.display = 'block'
                newPasswordErr.innerText = '*Field must not be empty'
            }else{
                newPasswordErr.style.display = 'none'
                newPasswordErr.innerText = ''
            }
        }

        function cPwdValidate(){
            
            if(confirmPassword.trim() == ''){
                cPasswordErr.style.display = 'block'
                cPasswordErr.innerText = '*Field must not be empty'
            }else{
                cPasswordErr.style.display = 'none'
                cPasswordErr.innerText = ''
            }
        }
    </script>

    <%- include('../foot') %>