<%-include('../head')-%>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- header -->
    <%- include('../header') %>
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow">Home</a>
                    <span></span> Pages
                    <span></span> Login / Register
                </div>
            </div>
        </div>
        
        <section class="pt-150 pb-150">
            <!-- -----------------Login form------------------ -->
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-12  m-auto">
                        
                                <div class="login_wrap widget-taber-content p-30 background-white border-radius-10 mb-md-5 mb-lg-0 mb-sm-5 w-55" style="width: 460px;">
                                    <div class="padding_eight_all bg-white">
                                        <div class="heading_s1">
                                            <h3 class="mb-30">Forgot password</h3>
                                            <p><div id="success_msg" style="display: none;" class="alert alert-primary"></div></p>
                                        </div>
                                        <form id="loginForm">
                                            <div class="form-group">
                                                <label for="emailId"> Enter email</label>
                                                <input type="text" name="email" placeholder="Your Email" id="emailId">
                                                <p><div id="emailError" style="display: none;" class="text-danger"></div></p>
                                            </div>
                                            <div class="login_footer form-group ">
                                                <div>
                                                    <span><a class="text-muted d-flex text-end" href="/signup">Create account</a></span>
                                                </div>
                                                
                                                <div class="form-group m-0">
                                                    <button type="button" onclick="submitBtn()" class="btn btn-fill-out btn-block hover-up" name="submit">Submit</button>
                                                </div>
                                            </div>
                                           
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
               
    </section>
</main>
        <!-- --------------Login form end--------------- -->


 <!-- User login form validation Script file -->
<script src="/public/userAssets/assets/js/validation/userLogin.js"></script>

<!--User login form submission Fetch script file   -->
<script>

async function submitBtn(){
    let email = document.getElementById('emailId').value
    const emailErrId = document.getElementById('emailError')
    await fetch('/forgot_password',{
        method:'post',
        headers:{
            'Content-Type':'application/json',
        },
        body:JSON.stringify({email})
    })
    .then((res)=>{
        return res.json()
    })
    .then((res)=>{
        if(res.success){
            emailErrId.innerHTML = ''
            emailErrId.style.display = 'none'
            Swal.fire({
                title: "Succsses!",
                text: "OTP has send to email!",
                icon: "success"
            }).then((res)=>{
                window.location.href = '/forgot_password/otpVerify'
            })
        }else if(res.success == false){
            console.log(res.message);
            emailErrId.innerHTML = res.message
            emailErrId.style.display = 'block'
        }
    })
}
     
</script>
<%-include('../foot')-%>
