<%- include('../head')-%>

<!-- Header section -->
<%- include('../header') %>
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow">Home</a>
                    <span></span> Pages
                    <span></span> Login / Register
                </div>
            </div>
        </div>

        <!-- ----------------------Signup Form---------------- -->
        <section class="pt-120 pb-150">
            <div class="col-lg-4 col-12 m-auto">
                <div class="login_wrap widget-taber-content p-30 background-white border-radius-5">
                    <div class="padding_eight_all bg-white">
                        <div class="heading_s1">
                            <h3 class="mb-30">Create an Account</h3>
                            <!-- <p><div id="email_error" style="display: none;" class="text-danger"></div></p> -->
                        </div>
                        <form id="signup_form">
                            <div class="form-group">
                                <input type="text" name="firstname" placeholder="First name" id="fname_id">
                                <p>
                                <div id="fname_error" style="display: none;" class="text-danger"></div>
                                </p>
                            </div>
                            <div class="form-group">
                                <input type="text" name="lastname" placeholder="Last name" id="lname_id">
                                <p>
                                <div id="lname_error" style="display: none;" class="text-danger"></div>
                                </p>
                            </div>
                            <div class="form-group">
                                <input type="email" name="email" placeholder="Email" id="email_id">
                                <p>
                                <div id="email_error" style="display: none;" class="text-danger"></div>
                                </p>
                            </div>
                            <div class="form-group">
                                <input type="number" name="mobile" placeholder="Mobile" id="mobile_id">
                                <p>
                                <div id="mobile_error" style="display: none;" class="text-danger"></div>
                                </p>
                            </div>
                            <div class="form-group">
                                <input type="date" name="dob" placeholder="Date of Birth" id="dob_id">
                                <p>
                                <div id="dob_error" style="display: none;" class="text-danger"></div>
                                </p>
                            </div>
                            <div class="form-group">
                                <input type="password" name="password" placeholder="Password" id="password_id">
                                <p>
                                <div id="password_error" style="display: none;" class="text-danger"></div>
                                </p>
                            </div>
                            <div class="form-group">
                                <input type="password" name="confirmPassword" placeholder="Confirm password"
                                    id="confirmPassword_id">
                                <p>
                                <div id="confirmPassword_error" style="display: none;" class="text-danger"></div>
                                </p>
                            </div>
                            <div class="form-group">

                                <button type="submit" class="btn btn-fill-out btn-block hover-up "> Register</button>
                            </div>
                        </form>
                        <div class="text-muted text-center">Already have an account? <a href="/login">Sign in now</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!--------------------------Signup form end------------- -->
    <script src="/public/userAssets/assets/js/validation/signupValidation.js"></script>

    <script>
        document.getElementById('signup_form').addEventListener('submit', async (e) => {
            try {
                e.preventDefault()
                fnameValidate()
                lnameValidate()
                emailValidate()
                mobileValidate()
                dobValidate()
                passwordValidate()
                confirmPasswordValidate()
                if (fnameError.style.display == 'block' ||
                    lnameError.style.display == 'block' ||
                    emailError.style.display == 'block' ||
                    mobileError.style.display == 'block' ||
                    dobError.style.display == 'block' ||
                    passwordError.style.display == 'block' ||
                    confirmPasswordError.style.display == 'block') {
                    return
                }

                const formData = new FormData(event.target)
                const response = await fetch('/signup', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(Object.fromEntries(formData))
                })
                const data = await response.json()
                if (response.status == 400) {
                    emailError.style.display = 'block'
                    emailError.textContent = data.error;
                    setTimeout(() => {
                        window.location.href = '/login'
                        emailError.style.display = 'none'
                    }, 3000)

                } else if (response.status === 404) {
                    console.log('password not matched');
                    confirmPasswordError.style.display = 'block'
                    confirmPasswordError.innerHTML = data.passwordMatchError;
                    setTimeout(() => {
                        confirmPasswordError.style.display = 'none'
                    }, 3000)
                } else if(response.status == 200){
                    alert(data.message)
                    window.location.href = '/otp-verify'
                }else{
                    console.log('erro occured when click on signup button');
                }
            } catch (error) {
                console.log(error, 'An error occurd while fetching the email checking');
            }
        })
    </script>

    <%- include('../foot')-%>