 <!-- Vendor JS-->
 <script src="/public/userAssets/assets/js/vendor/modernizr-3.6.0.min.js"></script>
 <script src="/public/userAssets/assets/js/vendor/jquery-3.6.0.min.js"></script>
 <script src="/public/userAssets/assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
 <script src="/public/userAssets/assets/js/vendor/bootstrap.bundle.min.js"></script>
 <script src="/public/userAssets/assets/js/plugins/slick.js"></script>
 <script src="/public/userAssets/assets/js/plugins/jquery.syotimer.min.js"></script>
 <script src="/public/userAssets/assets/js/plugins/wow.js"></script>
 <script src="/public/userAssets/assets/js/plugins/jquery-ui.js"></script>
 <script src="/public/userAssets/assets/js/plugins/perfect-scrollbar.js"></script>
 <script src="/public/userAssets/assets/js/plugins/magnific-popup.js"></script>
 <script src="/public/userAssets/assets/js/plugins/select2.min.js"></script>
 <script src="/public/userAssets/assets/js/plugins/waypoints.js"></script>
 <script src="/public/userAssets/assets/js/plugins/counterup.js"></script>
 <script src="/public/userAssets/assets/js/plugins/jquery.countdown.min.js"></script>
 <script src="/public/userAssets/assets/js/plugins/images-loaded.js"></script>
 <script src="/public/userAssets/assets/js/plugins/isotope.js"></script>
 <script src="/public/userAssets/assets/js/plugins/scrollup.js"></script>
 <script src="/public/userAssets/assets/js/plugins/jquery.vticker-min.js"></script>
 <script src="/public/userAssets/assets/js/plugins/jquery.theia.sticky.js"></script>
 <!-- Template  JS -->
 <script src="/public/userAssets/assets/js/maind134.js?v=3.4"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/page-login-register.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:07 GMT -->
</html>