<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Success</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f8f9fa;
        }
        .card {
            text-align: center;
            border: none;
            background: none;
        }
        .checkmark {
            font-size: 100px;
            line-height: 200px;
            color: green;
        }
        .btns {
            width: 100%;
        }
    </style>
</head>
<body>
    <div class="card col-12 col-md-6">
        <div class="col-12" style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin: 0 auto;">
            <i class="checkmark">✓</i>
        </div>
        <h1>Success</h1>
        <p>Order has been successfully placed;<br/></p>
        <p style="height: 100px;"></p>
        <div class="d-flex flex-column flex-md-row justify-content-center align-items-center gap-2" id="btn-group">
            <a href="/shop" class="btn btn-success btns mb-2 mb-md-0 mx-md-2">Continue shopping</a>
            <a href="/user_account/orderList" class="btn btn-primary btns mx-md-2">Order details</a>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
